class Aster < Formula
  desc "Build orchestration for polyglot monorepos"
  homepage "https://github.com/ArchAstro/aster"
  version "__VERSION__"
  license "MIT"

  on_macos do
    on_arm do
      url "https://github.com/ArchAstro/aster/releases/download/v__VERSION__/aster-darwin-arm64.tar.gz"
      sha256 "__SHA_DARWIN_ARM64__"
    end
    on_intel do
      url "https://github.com/ArchAstro/aster/releases/download/v__VERSION__/aster-darwin-x64.tar.gz"
      sha256 "__SHA_DARWIN_X64__"
    end
  end

  on_linux do
    url "https://github.com/ArchAstro/aster/releases/download/v__VERSION__/aster-linux-x64.tar.gz"
    sha256 "__SHA_LINUX_X64__"
  end

  def install
    bin.install "aster"
  end

  test do
    system "#{bin}/aster", "--version"
  end
end
